.row {
  display: flex;
  margin-bottom: 45px;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: 66%;
}

.column-half {
  width: calc(100% / 2);
}
